body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    background-size: cover;
    backdrop-filter: blur(50px);
    overflow: hidden;
}
.upper-container {
    width: 80%;
    height: 80%;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 唱片 */
.record-container{
    margin-top: 10%;
    width: 50%;
    height: 100%;
    float: left;
    
}
.record-bg{
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#record-img{
    background-image: url(./../img/record0.jpg);
    background-size: 100% 100%;
    width: 250px;
    height: 250px;
    border-radius: 250px;
}


/* 右边歌曲名 */
.introduction-container{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;

}
.text-container{
    width: 80%;
    padding-left: 20%;
}
.music-titlt{
    color: white;
    font-size: 4rem
}
.author-container{
    color: white;
    font-size: 1.5rem;
    
}
/* 下半部分 */

.bottom-container{
    height: 20%;
    width: 100%;
    padding: 0 47px;
}
.controls{
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 进度条 */
.progress{
    width: 94%;
    height: 3px;
    background-color:  white;
    margin-bottom: 20px;
}
/* 时间 */
.timer-container{
    color: white;
    font-size: 1.3rem;
    display: flex;
}
/* 按钮 */
.center-container{
    display: flex;
    align-items: center;
}
.center-icon{
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 8px;
}
.playMode{
    background-image: url(./../img/mode1.png);
    background-size: 100% 100%;
}
.beforeMusic {
    background-image: url(./../img/上一首.png);
    background-size: 100% 100%;
}
.playPause{
    width: 50px;
    height: 50px;
    background-image: url(./../img/暂停.png);
    background-size: 100% 100%;
    
}
.nextMusic{
    background-image: url(./../img/下一首.png);
    background-size: 100% 100%;
}
.volum{
     background-image: url(./../img/音量.png);
     background-size: 100% 100%;
}

/* 右下角按钮 */
.right-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-icon{
   width: 30px; 
   height: 30px;
   margin: 0 10px;
}
#speed{
    color: white;
    font-size: 1.3rem;
}
#mv{
    background-image: url(./../img/MV.png);
    background-size: 100% 100%;
}
#list{
    background-image: url(./../img/列表.png);
    background-size: 100% 100%;
}

/* 唱片旋转 */
.rotate-play{
    animation: rotateAni 10s infinite linear;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

/* 定义动画变化过程 */
@keyframes rotateAni{
    from {
       transform: rotate(0deg); 
    }
    to {
       transform: rotate(360deg);
    }
}
